.idea/
.vscode
.DS_Store
conda
datalab

notebook/.ipynb_checkpoints/
notebook/TF_2.0/.ipynb_checkpoints/

results/

doc/notes_gcp/figures/*
doc/notes_gcp/*

src/__pycache__
src/models/test_model_estimator_api/__pycache__
src/models/test_model_estimator_api/trained/
notebook/package_ml_engine/trained/*
notebook/package_ml_engine/__pycache__

config.yaml

